<h1>Image Gallery: static images</h1>
<div class="gallery">
    <img ngSrc="/photo-1.jpg" alt="photo" width="300" height="300">
    <img ngSrc="/photo-1.jpg" alt="photo" width="300" height="300">
    <img ngSrc="/photo-1.jpg" alt="photo" width="300" height="300">
    <img ngSrc="/photo-1.jpg" alt="photo" width="300" height="300">
    <img ngSrc="/photo-1.jpg" alt="photo" width="300" height="300">
</div>

<h2>Image Gallery: dynamic images</h2>
<div class="gallery">
    <img [ngSrc]="imgUrl" alt="photo" width="300" height="300">
    <img [ngSrc]="imgUrl" alt="photo" width="300" height="300">
    <img [ngSrc]="imgUrl" alt="photo" width="300" height="300">
</div>