
$primarycolor:   #1D6356;
$secondarycolor: #717372;

$blackcolor: #000000;
$whitecolor: #ffffff;

$basefont: 'DIN Next LT Arabic';
$transition: all 0.3s ease-in-out;

$bx-shadow: 0px 4px 17px rgba(55, 72, 106, 0.1);





// Media Sizes
$tab: '(min-width:576px)';
$tabL: '(min-width:768px)';
$ipadL: '(min-width:992px)';
$ipadXL: '(min-width:1025px)';
$desktop: '(min-width:1200px)';

$ipadpro: '(max-width:1199.98px)';
$ipad: '(max-width:991.98px)';
$mobL: '(max-width:767.98px)';
$mob: '(max-width:575.98px)';

