.editor-main-wrapper {
    margin-bottom: 2rem;
  > input {
    font-size: 3rem;
    border: 0;
    margin-bottom: 1em;
    background-color: transparent;
    &::placeholder {
        color: var(--black);
    }
  }
  .texteditor {
    button {
      background: transparent;
      border: 1px solid var(--lightgreen);
      border-radius: 50%;
      flex: 0 0 3rem;
      width: 3rem;
      height: 3rem;
      margin-bottom: 1rem;
    }
  }
  .addBtns {
    display: flex;
    gap: 1rem;
  }
}


