* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 4000px;
}

section {
    padding: 45px;
}

section :is(h2,p) {
    color: #fff;
}


.container {
    max-width: 900px;
    margin: 0 auto;
}

.grid-container {
    resize: horizontal;
    overflow-x: hidden;
}



.grid-container > div:nth-child(1) {
    background-color: #ff000063;
}

.grid-container > div:nth-child(2) {
    background-color: #0080007d
}

.grid-container > div:nth-child(3) {
    background-color: #0000ff4d;
}


.grid-container > div:nth-child(4) {
    background-color: #00ff008c;
}

.grid-container > div:nth-child(5) {
    background-color: antiquewhite;
}

.grid-container > div:nth-child(6) {
    background-color: aqua;
}






.grid-container {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


