h1 {
	color: green;
	font-style: italic;
}

h1 {
	color: red;
	background-color: tomato;
}

h1 {
	color: pink;
}






/*
.hd {
	color: green;
	background-color: tomato;
}

.hd-2 {
	color: pink;
	font-style: italic;
}
.heading {
	color: blue;
}
*/


/*
#head {
	color: yellow;
}
*/










