
.primary-col {
    color: $primarycol;
}

.secondary-col {
    color: $secondarycol;
}

.white-col {
    color: $whitecol;
}

.black-col {
    color: $blackcol;
}


.primary-bg {
    background-color: $primarycol;
}

.gray-bg {
    background-color: $secondarycol;
}

.light-gray-bg {
    background-color: $lightgray;
}

.light-gray-bg2 {
    background-color: $lightgray2;
}

