

html {
    z-index: 30;
    font-family: "Droid Sans", sans-serif #{"/*rtl:prepend:'Droid Arabic Kufi',*/"} ;
    direction: ltr;
    font-size: 46px #{"/*rtl:14px*/"};
    user-select: none;
    transition: width 12s linear;
}

*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



