
.btn {
  display: inline-flex;
  border: 0;
  font-size: 1rem;
  padding: 1em 2em;
  margin: 0 1em;
  font-weight: 600;
  background: #000;
  color: #fff;
  border-radius: 0.5em;
  cursor: pointer;
}
