

$primary-color: black;
$text-color: #fff;
// mapping
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-sizes: (
    "small": 16px,
    "medium": 24px,
    "large": 35px
);