
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
}




.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: aqua;
}

.inner-wrap {
  display: flex;
  background-color: red;
  padding: 40px;
  justify-content: center;
}

.inner-wrap > * {
  flex: 0 0 15%;
  height: 100px;
  background: antiquewhite;
  margin-right: 1%;
}

.items p {
  font-size: 1.5rem;
}