.pagination {
  display: flex;
  justify-content: space-between;
  button {
    background: var(--black);
    border: none;
    color: var(--white);
    padding: 0.5em 1em;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}





