

* {
    box-sizing: border-box;
}


/* #body_id {
    background-color: darkgray;
} */


/* .mybody {
    background-color: chartreuse;
} */

/* body {
    background-color: red;
} */



/* body {
    background-color: blue;
} */



/*  */


.para_1 {
    color: green;
}

div p {
    color: blue;
}


p {
    color: red;
}