.primary-color {
  color: var(--primary-color);
}

.primary-color-bg {
  background-color: var(--primary-color);
}


.black-color {
  color: var(--black-color);
}

.black-color-bg {
  background-color: var(--black-color);
}


.white-color {
  color: var(--white-color);
}

.white-color-bg {
  background-color: var(--white-color);
}


.gray-color {
  color: var(--gray-color);
}

.gray-color-bg {
  background-color: var(--gray-color);
}

.gray-color2 {
  color: var(--gray-color2);
}

.gray-color2-bg {
  background-color: var(--gray-color2);
}

.blue-gradient {
  background-image: var(--blue-gradient);
}


