<p>todos works!</p>
<!-- <p> {{todoService.todoItems[0].title}} </p> -->
<!-- this from signal -->
<!-- <p> {{todoItems()[0].title}} </p> -->

<!-- built-in loop -->
<!-- @for (todo of todoItems(); track todo.id ) {
    <p>{{todo.title}} </p>
  } -->

<!-- Angular directives -->
<p *ngIf="!todoItems().length">Loading...</p>

<!-- OR Most recommended -->
<!-- @if (!todoItems().length) {
  <p>Loading...</p>
} -->




<ul>
  @for (todo of todoItems(); track todo.id) {
    <app-todo-item [todo]="todo" (todoToggled)="updateTodoItems($event)"  />
  }
</ul>
