
h1 {
    color: rgb(8, 17, 27);
    font-size: 50px;
    margin-left: 100px;
    padding: 5px 10px 0 140px;
    /*rtl:ignore*/
    text-align: left;
}

// text-align property will be ignore for rtl css, means not convert into rtl.