
ul {
    list-style-type: none;
    display: flex;
}


ul li {
    padding: 0 1rem;
}

ul a {
    text-decoration: none;
}

main {
    border: 1px solid red;
    padding: 1rem;
}


.active_link {
    background-color: red;
    color: black;
}