
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: aqua;
  height: 40rem;
}


li {
  font-size: 2rem;
}