* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  display: grid;
  margin: 0 -15px;
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  margin: 0 -15px;
}


.item {
    padding: 0 15px;
    margin-bottom: 30px;
}
