

h1,
.h1 {
  font-size: 4.0625em;
  font-weight: 700;
  line-height: 1.0307em;
  letter-spacing: -0.02em;
  margin: 0 0 .4em 0;
  color: $blackcolor;

  @media #{$ipadpro} {
    font-size: 3.5em;
  }

  @media #{$ipad} {
    font-size: 2em;
  }
}


h2,
.h2 {
  font-size: 2.8125em;
  font-weight: 700;
  line-height: 1.088em;
  margin: 0 0 .7em 0;
  color: $blackcolor;
  @media #{$ipadpro} {
    font-size: 2em;
  }

  @media #{$ipad} {
    font-size: 1.75em;
  }  
}



h3,
.h3 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 0.95em;
  margin: 0 0 0.7em 0;
  color: $blackcolor;

  @media #{$ipadpro} {
    font-size: 1.75em;
  }

  @media #{$ipad} {
    font-size: 1.75em;
  }
}


h4,
.h4 {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.3055em;
  margin: 0 0 0.6em 0;
  color: $blackcolor;

  @media #{$ipadpro} {
    font-size: 1.75em;
  }

  @media #{$ipad} {
    font-size: 1.75em
  }
}



h5,
.h5 {
  font-size: 1.875em;
  font-weight: 700;
  line-height: 0.933em;
  margin: 0 0 0.6818em 0;
  color: $blackcolor;

  @media #{$ipadpro} {
    font-size: 1.5em;
  }
}


h6,
.h6 {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 0.75em 0;
  color: $blackcolor;
  @media #{$ipadpro} {
    font-size: 1.5em;
  }

}



p,
.p {
  font-size: 1.375em;
  font-weight: 400;
  line-height: 1.5909em;
  margin: 0 0 0.5em 0;

  &:last-child {
    margin: 0 0 1.4em 0;
  }

  @media #{$ipadpro} {
    font-size: 1em;
  }

  @media #{$ipad} {
    // font-size: 1.1em;
  }
}



