{
    "endOfLine": "crlf",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "useTabs": true,
    "trailingComma": "es5",
    "printWidth": 90,
    "plugins": ["prettier-plugin-tailwindcss"],
    "htmlWhitespaceSensitivity": "ignore",
    "proseWrap": "preserve",
    "bracketSameLine": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always"
  }
  