.sign-ins-wrapper ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
  align-items: center;
}
.sign-ins-wrapper {
  background: var(--black);
  color: var(--softBg);
  max-width: 50rem;
  text-align: center;
  padding: 20rem 1rem;
  margin: 2rem auto 5rem;
  border-radius: 1rem;
}
.sign-in-btn {
  padding: 1rem 2rem;
  background: #34a752;
  border-radius: 0.5rem;
  cursor: pointer;
  &:nth-child(2) {
    background-color: var(--softTextColor);
  }
  &:nth-child(3) {
    background-color: #0866ff;
  }


}


