



// yey partial(_base.scss) file hoti hay: variables , mixins, or functions k liyey.
// matlab is may hum variables , mixins or functions bana sakhtay hayn.

// variables
$font-stack: Helvetica, sans-serif;
$primary-color: blue;
$secondary-color: red;
$anchor-ft-size: 20px;

$font-weights: (
    "regular": 400,
    "mediuem": 500,
    "bold": 700
);

$font-sizes: (
    "small": 16px,
    "medium": 32px,
    "large": 64px,
    "extra-large": 90px
);

@function fontValue($fontValue) {
    @return map-get($font-sizes, $fontValue);
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    font-size: fontValue("medium");

    @media (max-width: 767px) {
        font-size: fontValue("small");
    }
}


h1 {
    color: $primary-color;
    font-size: map-get($font-sizes, large );
}  


@mixin sectionBefore($width, $color) {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $width;
    background-color: $color;
}

@mixin sectionAfter($width, $color) {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $width;
    background-color: $color;
}



.testimonials {
    position: relative;
    &::before {
        @include sectionBefore(60%, #9900997d); 
    }
    &::after {
        @include sectionAfter(40%, #0000ff75);
    }

}

.container {
    position: relative;
    z-index: 1;
    padding: 0 10%;
    @media (max-width: 767px) {
        padding: 0 5%;
    }
}




