/* The following example declares 4 variables ,
After the variables are declared, you can use the 
variables wherever you want. */


$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;

body {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}

#container {
    width: $myWidth;
    border: 1px solid black;
}