<app-header-navigation />

<app-user />
<app-cart-count />
<app-blog-card />
<app-pen-product />
<app-product-items />
<app-toggle-images />
<app-cart-panel />

<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum praesentium est nam, quae fugiat odit quas, rem
    omnis,
    quos expedita eligendi animi? Ab qui deserunt, aperiam animi hic laborum earum quod placeat ex ut? Id, quo ullam.
    Beatae sed omnis voluptatem tempore. Repellat magni saepe tempore eius itaque, veniam sunt aliquam asperiores
    delectus repellendus! Veniam beatae officiis, error, exercitationem, obcaecati quo quibusdam sed tenetur maxime nam
    rerum dicta. Obcaecati expedita beatae eum quia, voluptatem nisi necessitatibus neque soluta ratione et sequi eius
    impedit qui voluptate, maiores eveniet temporibus inventore amet perferendis tempora in adipisci. Nihil modi hic
    vitae doloremque consectetur!</h4>

@defer (on viewport) {
<app-comments />
} @placeholder {
<div>loading ...</div>
} @loading (minimum 3s) {
<p>Loading comments...</p>
}

<app-gallery />

<app-form-template-driven />
<app-login-form />
<app-computer-items />
<app-pipes-demo />
<app-server-users />